
/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  /* takes default styling of a body and
  sets it to total 0, ex: something might have style and it
  might overflow out */
  margin: 0;
  padding: 0;
}

/* astricks mean every tag */
/* a good websites should have all of these */
*, *:before, *:after {
  /*include the border (if there is one) as the size of everything */
  box-sizing: inherit;
}
/* THE END of default helpful basic CSS to include. EDIT the stuff BELOW this line*/


body{
  font-family: 'Archivo Black', sans-serif;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 3em;
}

bottomName{
  font-family: 'Bebas Neue', cursive;
  color:white;
  font-size: 2em;
  background: red;

}
/*LEVEL 15 :  selecting the first child of an element.  the background is
being set to red*/
div bottomName:first-child{
  background: red;


}
/*LEVEL 17: selecting the last element of an element being used. the last
bottomName is selected and the background is black */
div bottomName:last-child{
  background: black;


}
/* LEVEL 6: the class selector allows for all the elements in a class to be
selected. all the elements within the spacing class will have a line spacing
of 80%  */
.spacing{
  line-height: 80%;
}
header{
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size:1em;
}
/*LEVEL 3: selecting an id with a specific id,
styling the the header with characters as the id*/
header#characters{
  text-align: left;
  background: red;
  padding: 5px;
  color: white;
  text-shadow: 4px 4px 4px black;

}
/*LEVEL 3: selecting an id with a specific id,
styling the the header with episodes as the id*/
header#episodes{
  text-align: left;
  padding: 5px;
  background: black;
  color: white;
  text-shadow: 4px 4px 4px #aaa;

}

chunk{
  font-family: 'Didact Gothic', sans-serif;
  color:black;
}
/*LEVEL 11: combining the universal selector with other elements. this chooses
every element in the chunk class with names as the specific id */
chunk.names *{
    font-size:.7em;
    text-align:left;
    line-height: 80%;
    padding: 5px;
}

/* LEVEL 21: :nth-of-type(A). it selects the specific type depending on the order
assigned. the second chunk tag is selected and styled */
chunk:nth-of-type(2){
  font-size:.7em;
  text-align:center;
  line-height: 90%;

}
/* LEVEL 3*/
header#songs{
  text-align: left;
  padding: 5px;
  background: red;
  color: white;
  text-shadow: 4px 4px 4px black;

}
/*LEVEL 21  */
chunk.songs{
  font-size:.7em;
  text-align: left;
  line-height: 90%;
  padding: 20px;

}
