
div.gallery {
  border: 2px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  display:flex;
  justify-content: center;
  opacity:0;
  transition: .5s ease;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 1em;
  letter-spacing: 1.5px;
  padding: 15px;
  text-align: center;
}

div.gallery:hover div.desc {
  opacity: 1;
}

* {
  box-sizing: border-box;
}

.ipad{
  display:none;
}

.iphoneX{
  display:none;
}

.mobileTitle{
  display: none
}

/* ipad display responsive */
@media only screen and (max-width : 768px) and (max-height : 1024px) {
  .ipad{
    display: block;
  }
  .iphone{
    display:none;
  }
  .mobileTitle{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    font-weight: 600;
    color:black;
    margin-top: 30px;
    margin-bottom: 10px;
  }
/* margin fix */
  .responsive{
    margin-right: 100px;
  }
}




/* w3 schools responsive image gallery https://www.w3schools.com/css/css_image_gallery.asp */
.responsive {
  margin-left:89px;
  margin-top: 10px;
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

/* margin placement fix for iphone x */
@media only screen and (max-width : 375px)  and (max-height : 812px) {
  div.gallery img {
    margin-left:80px;
    width: 100%;
    height: auto;
  }

  .mobileTitle{
    text-align:center;
    font-size: 36px;
  }

}
/* photo placement fix for iphone 6/7/8 plus */
@media only screen and (max-width : 414px)  and (max-height : 736px) {
  /* div.gallery img {
    margin-left:100px;
    width: 100%;
    height: auto;
  } */
  .mobileTitle{
    font-size: 30px;
  }

}

/* photo placement fix for iphone 6/7/8  */
@media only screen and (max-width : 375px)  and (max-height : 736px) {
  div.gallery img {
    margin-left:80px;
    width: 100%;
    height: auto;
  }
  .mobileTitle{
    font-size: 26px;
  }

}
/* w3 schools tutorial */
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }


}
