html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a{
  text-decoration:none;
}

body {
  background-color: white;
}

.title{
  display: flex;
  justify-content: center;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: 800;
  color:black;
  margin-bottom: -5px;

}

#mochiimg{
  height: auto;
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.homeimg{
  height: 35%;
  width: 35%;
  justify-content: flex-end;
  margin: 0 10%;


}
#flex-box-home{
  margin-top: -10px;
  margin-left: 200px;
  display: flex;


}
.name-box{
  padding:40px;
  text-align: center;
  width: 350px;
  height: 70px;
  justify-content: flex-start;
}

name{
  font-family: 'Poppins', sans-serif;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 4px;
}

.arya{
  background-color:#F7CAC9;
  /* space between elements */
  margin: 25px;
}

/* changes to a lighter color */
.arya:hover{
    background-color: #fae0df;
}

.nicole{
  background-color: #92A8D1;
  /* space between elements */
  margin: 25px;
}

.nicole:hover{
  background-color: #d3dcec;

}

.caroline{
  background-color:#FFFF84;
  /* space between elements */
  margin: 25px;
}

.caroline:hover{
  background-color:#ffffbf;
}


.memory-button{
  display: flex;
  justify-content:center;
  margin-top: 20px;
  margin-bottom: 15px;
}

#memory-style{
  width: 400px;
  height: 50px;
  text-align:center;
  background-color:#8be28b;
  font-size: 2em;
  letter-spacing: 8px;
}

#memory-style:hover{
  background-color: #b4ffb2;

}



@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
