html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a{
  text-decoration:none;
}

body {
  background-color: white;
}

.title{
  display: flex;
  justify-content: center;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: 800;
  color:black;

}

.mochiimg{
  height: auto;
  width: 70px;
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.homeimg{
  max-width:60%;
  max-height:60%;
  position: absolute;
  right: 200px;

}
.name-box{
  padding: 40px;
  text-align: center;
  width: 350px;
  height: 70px;
  left: 200px;
  position: absolute;
}

name{
  font-family: 'Poppins', sans-serif;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 4px;
}

.arya{
  background-color:#F7CAC9;
  /* space between elements */
  margin: 25px;
}

/* changes to a lighter color */
.arya:hover{
    background-color: #fae0df;
}

.nicole{
  background-color: #92A8D1;
  /* space between elements */
  margin: 25px;
}

.nicole:hover{
  background-color: #d3dcec;

}

.caroline{
  background-color:#FFFF84;
  /* space between elements */
  margin: 25px;
}

.caroline:hover{
  background-color:#ffffbf;
}


.memory-button{
 margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;

}

name#memory{
  font-size: 3em;
}


div#container{
margin-top: 10px;
}

.aryaimg{
  margin-top: 50px;
  transform: rotate(90deg);
  width:30%;
  height:30%;
  float:right;
}

about{
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 1em;

}



@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
